.featured .swiper-button-prev{
    position: absolute;
    border-radius: 0 100px 100px 0;
    left: 0;
    padding-right: 10px;
}

.featured .swiper-button-next{
    position: absolute;
    border-radius: 100px 0 0 100px;
    padding-left: 10px;
    right: 0;
}

.featured .swiper-button-prev, .featured .swiper-button-next{
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    opacity: .7;
    outline: none;
    top: 50%;
    transition: .3s;
    width: 35px;
    color: #000;
}

.featured .swiper-button-next::after,
.featured .swiper-button-prev::after {
  font-size: 25px !important;
}